<md-list>
	<md-item ng-repeat="stream in streams" ng-class="{active: currentStream == stream}">
		<md-item-content ng-click="activeStream(stream)" ink-ripple>
			<div class="md-tile-left">
				<md-progress-circular ng-if="!stream.variantsLastFact['fast-low-verySmall']" mode="indeterminate"></md-progress-circular>
				<fact-simple-slideshow
					ng-if="stream.variantsLastFact['fast-low-verySmall']"
					fact="stream.variantsLastFact['fast-low-verySmall']"
					preload-delay="2000"
					fade="true"
					rotate="true"
				></fact-simple-slideshow>
			</div>
			<div class="md-tile-content">
				<h3>{{stream.label}}</h3>
				<p>{{stream.description}}</p>
			</div>
		<md-item-content>
	</md-item>
</md-list>
