fact-stream-list md-item.active md-item-content p,
fact-stream-list md-item.active md-item-content h3 {
	font-weight: bold;
}

fact-stream-list fact-simple-slideshow {
	width: 56px;
	height: 56px;
}

fact-stream-list fact-simple-slideshow depiction {
	width: 46px;
	height: 46px;
	top: 5px;
	left: 5px;
	overflow: hidden;
	background-color: transparent;
	border-radius: 50%;
}